### Read data and get some info ###

In [1]:
import pandas as pd
import pandas_profiling
import numpy as np

In [2]:
#training_data = pd.read_csv('data/training_set_VU_DM.csv')
training_data = pd.read_csv('../../data_2nd_assignment/training_set_VU_DM.csv')
training_data.head()

,srch_id,date_time,site_id,visitor_location_country_id,visitor_hist_starrating,visitor_hist_adr_usd,prop_country_id,prop_id,prop_starrating,prop_review_score,...,comp6_rate_percent_diff,comp7_rate,comp7_inv,comp7_rate_percent_diff,comp8_rate,comp8_inv,comp8_rate_percent_diff,click_bool,gross_bookings_usd,booking_bool
0,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,893,3,3.5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0,NaN,0
1,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,10404,4,4.0,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0,NaN,0
2,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,21315,3,4.5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0,NaN,0
3,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,27348,2,4.0,...,NaN,NaN,NaN,NaN,-1.0,0.0,5.0,0,NaN,0
4,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,29604,4,3.5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0,NaN,0

In [6]:
training_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4958347 entries, 0 to 4958346
Data columns (total 54 columns):
 #   Column                       Dtype
---  ------                       -----
 0   srch_id                      int64
 1   date_time                    object
 2   site_id                      int64
 3   visitor_location_country_id  int64
 4   visitor_hist_starrating      float64
 5   visitor_hist_adr_usd         float64
 6   prop_country_id              int64
 7   prop_id                      int64
 8   prop_starrating              int64
 9   prop_review_score            float64
 10  prop_brand_bool              int64
 11  prop_location_score1         float64
 12  prop_location_score2         float64
 13  prop_log_historical_price    float64
 14  position                     int64
 15  price_usd                    float64
 16  promotion_flag               int64
 17  srch_destination_id          int64
 18  srch_length_of_stay          int64
 19  srch_booking_window          int64
 20  srch_adults_count            int64
 21  srch_children_count          int64
 22  srch_room_count              int64
 23  srch_saturday_night_bool     int64
 24  srch_query_affinity_score    float64
 25  orig_destination_distance    float64
 26  random_bool                  int64
 27  comp1_rate                   float64
 28  comp1_inv                    float64
 29  comp1_rate_percent_diff      float64
 30  comp2_rate                   float64
 31  comp2_inv                    float64
 32  comp2_rate_percent_diff      float64
 33  comp3_rate                   float64
 34  comp3_inv                    float64
 35  comp3_rate_percent_diff      float64
 36  comp4_rate                   float64
 37  comp4_inv                    float64
 38  comp4_rate_percent_diff      float64
 39  comp5_rate                   float64
 40  comp5_inv                    float64
 41  comp5_rate_percent_diff      float64
 42  comp6_rate                   float64
 43  comp6_inv                    float64
 44  comp6_rate_percent_diff      float64
 45  comp7_rate                   float64
 46  comp7_inv                    float64
 47  comp7_rate_percent_diff      float64
 48  comp8_rate                   float64
 49  comp8_inv                    float64
 50  comp8_rate_percent_diff      float64
 51  click_bool                   int64
 52  gross_bookings_usd           float64
 53  booking_bool                 int64
dtypes: float64(34), int64(19), object(1)
memory usage: 2.0+ GB

### Get rid of columns with null values ###

Some columns have no null values, while some have almost exclusively null values. We'll get rid of the latter group.

In [7]:
training_data.isnull().sum()

srch_id                              0
date_time                            0
site_id                              0
visitor_location_country_id          0
visitor_hist_starrating        4706481
visitor_hist_adr_usd           4705359
prop_country_id                      0
prop_id                              0
prop_starrating                      0
prop_review_score                 7364
prop_brand_bool                      0
prop_location_score1                 0
prop_location_score2           1090348
prop_log_historical_price            0
position                             0
price_usd                            0
promotion_flag                       0
srch_destination_id                  0
srch_length_of_stay                  0
srch_booking_window                  0
srch_adults_count                    0
srch_children_count                  0
srch_room_count                      0
srch_saturday_night_bool             0
srch_query_affinity_score      4640941
orig_destination_distance      1607782
random_bool                          0
comp1_rate                     4838417
comp1_inv                      4828788
comp1_rate_percent_diff        4863908
comp2_rate                     2933675
comp2_inv                      2828078
comp2_rate_percent_diff        4402109
comp3_rate                     3424059
comp3_inv                      3307357
comp3_rate_percent_diff        4485550
comp4_rate                     4650969
comp4_inv                      4614684
comp4_rate_percent_diff        4827261
comp5_rate                     2735974
comp5_inv                      2598327
comp5_rate_percent_diff        4117248
comp6_rate                     4718190
comp6_inv                      4697371
comp6_rate_percent_diff        4862173
comp7_rate                     4642999
comp7_inv                      4601925
comp7_rate_percent_diff        4819832
comp8_rate                     3041693
comp8_inv                      2970844
comp8_rate_percent_diff        4343617
click_bool                           0
gross_bookings_usd             4819957
booking_bool                         0
dtype: int64

In [3]:
training_data = training_data.dropna(axis=1)
training_data.isnull().sum()

srch_id                        0
date_time                      0
site_id                        0
visitor_location_country_id    0
prop_country_id                0
prop_id                        0
prop_starrating                0
prop_brand_bool                0
prop_location_score1           0
prop_log_historical_price      0
position                       0
price_usd                      0
promotion_flag                 0
srch_destination_id            0
srch_length_of_stay            0
srch_booking_window            0
srch_adults_count              0
srch_children_count            0
srch_room_count                0
srch_saturday_night_bool       0
random_bool                    0
click_bool                     0
booking_bool                   0
dtype: int64

In [9]:
training_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4958347 entries, 0 to 4958346
Data columns (total 23 columns):
 #   Column                       Dtype
---  ------                       -----
 0   srch_id                      int64
 1   date_time                    object
 2   site_id                      int64
 3   visitor_location_country_id  int64
 4   prop_country_id              int64
 5   prop_id                      int64
 6   prop_starrating              int64
 7   prop_brand_bool              int64
 8   prop_location_score1         float64
 9   prop_log_historical_price    float64
 10  position                     int64
 11  price_usd                    float64
 12  promotion_flag               int64
 13  srch_destination_id          int64
 14  srch_length_of_stay          int64
 15  srch_booking_window          int64
 16  srch_adults_count            int64
 17  srch_children_count          int64
 18  srch_room_count              int64
 19  srch_saturday_night_bool     int64
 20  random_bool                  int64
 21  click_bool                   int64
 22  booking_bool                 int64
dtypes: float64(3), int64(19), object(1)
memory usage: 870.1+ MB

In [4]:
training_data = training_data.drop('date_time', axis=1)
training_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4958347 entries, 0 to 4958346
Data columns (total 22 columns):
 #   Column                       Dtype
---  ------                       -----
 0   srch_id                      int64
 1   site_id                      int64
 2   visitor_location_country_id  int64
 3   prop_country_id              int64
 4   prop_id                      int64
 5   prop_starrating              int64
 6   prop_brand_bool              int64
 7   prop_location_score1         float64
 8   prop_log_historical_price    float64
 9   position                     int64
 10  price_usd                    float64
 11  promotion_flag               int64
 12  srch_destination_id          int64
 13  srch_length_of_stay          int64
 14  srch_booking_window          int64
 15  srch_adults_count            int64
 16  srch_children_count          int64
 17  srch_room_count              int64
 18  srch_saturday_night_bool     int64
 19  random_bool                  int64
 20  click_bool                   int64
 21  booking_bool                 int64
dtypes: float64(3), int64(19)
memory usage: 832.2 MB

In [7]:
training_data.head()

,srch_id,date_time,site_id,visitor_location_country_id,prop_country_id,prop_id,prop_starrating,prop_brand_bool,prop_location_score1,prop_log_historical_price,...,srch_destination_id,srch_length_of_stay,srch_booking_window,srch_adults_count,srch_children_count,srch_room_count,srch_saturday_night_bool,random_bool,click_bool,booking_bool
0,1,2013-04-04 08:32:15,12,187,219,893,3,1,2.83,4.95,...,23246,1,0,4,0,1,1,1,0,0
1,1,2013-04-04 08:32:15,12,187,219,10404,4,1,2.20,5.03,...,23246,1,0,4,0,1,1,1,0,0
2,1,2013-04-04 08:32:15,12,187,219,21315,3,1,2.20,4.92,...,23246,1,0,4,0,1,1,1,0,0
3,1,2013-04-04 08:32:15,12,187,219,27348,2,1,2.83,4.39,...,23246,1,0,4,0,1,1,1,0,0
4,1,2013-04-04 08:32:15,12,187,219,29604,4,1,2.64,4.93,...,23246,1,0,4,0,1,1,1,0,0

### Number of properties and how often they occur ###

In [65]:
training_data['prop_id'].value_counts()[:10000]

104517    2357
124342    2355
68420     2285
40279     2275
134154    2257
          ...
98144      117
2563       117
16658      117
62447      117
35881      117
Name: prop_id, Length: 10000, dtype: int64

### Statictics on features ###

In [9]:
training_data[['prop_starrating', 'prop_location_score1', 'prop_log_historical_price', 'price_usd']].describe()

,prop_starrating,prop_location_score1,prop_log_historical_price,price_usd
count,4.958347e+06,4.958347e+06,4.958347e+06,4.958347e+06
mean,3.180525e+00,2.872589e+00,4.317913e+00,2.542096e+02
std,1.051024e+00,1.531011e+00,1.834869e+00,1.600124e+04
min,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,3.000000e+00,1.790000e+00,4.450000e+00,8.500000e+01
50%,3.000000e+00,2.770000e+00,4.910000e+00,1.220000e+02
75%,4.000000e+00,4.040000e+00,5.310000e+00,1.849600e+02
max,5.000000e+00,6.980000e+00,6.210000e+00,1.972633e+07

In [10]:
training_data[['srch_length_of_stay' ,'srch_booking_window', 'srch_adults_count', 'srch_children_count', 'srch_room_count']].describe()

,srch_length_of_stay,srch_booking_window,srch_adults_count,srch_children_count,srch_room_count
count,4.958347e+06,4.958347e+06,4.958347e+06,4.958347e+06,4.958347e+06
mean,2.385427e+00,3.747417e+01,1.972637e+00,3.504918e-01,1.110525e+00
std,2.053243e+00,5.199341e+01,8.570628e-01,7.325692e-01,4.172290e-01
min,1.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,1.000000e+00
25%,1.000000e+00,4.000000e+00,2.000000e+00,0.000000e+00,1.000000e+00
50%,2.000000e+00,1.700000e+01,2.000000e+00,0.000000e+00,1.000000e+00
75%,3.000000e+00,4.800000e+01,2.000000e+00,0.000000e+00,1.000000e+00
max,5.700000e+01,4.920000e+02,9.000000e+00,9.000000e+00,8.000000e+00

In [11]:
training_data[['visitor_location_country_id', 'prop_country_id', 'prop_id', 'prop_starrating', 'prop_brand_bool', 'srch_destination_id', 'srch_saturday_night_bool']].mode()

,visitor_location_country_id,prop_country_id,prop_id,prop_starrating,prop_brand_bool,srch_destination_id,srch_saturday_night_bool
0,219,219,104517,3,1,8192,1

### Effect of promotions ###

In [12]:
training_data.groupby('promotion_flag')['booking_bool'].size()

promotion_flag
0    3889229
1    1069118
Name: booking_bool, dtype: int64

In [13]:
training_data.groupby('promotion_flag')['booking_bool'].sum()

promotion_flag
0    96443
1    41947
Name: booking_bool, dtype: int64

In [14]:
training_data.groupby('promotion_flag')['booking_bool'].mean()

promotion_flag
0    0.024797
1    0.039235
Name: booking_bool, dtype: float64

In [5]:
training_data = training_data[training_data["prop_id"].isin(list(training_data['prop_id'].value_counts()[:10000].index))]

np.unique(training_data['prop_id'].to_numpy()).shape

training_data = training_data.astype(np.float64)
training_data.info()

training_data.to_csv("training_data_cleaned_annoyed.csv", index=False)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2403013 entries, 0 to 4958340
Data columns (total 22 columns):
 #   Column                       Dtype
---  ------                       -----
 0   srch_id                      float64
 1   site_id                      float64
 2   visitor_location_country_id  float64
 3   prop_country_id              float64
 4   prop_id                      float64
 5   prop_starrating              float64
 6   prop_brand_bool              float64
 7   prop_location_score1         float64
 8   prop_log_historical_price    float64
 9   position                     float64
 10  price_usd                    float64
 11  promotion_flag               float64
 12  srch_destination_id          float64
 13  srch_length_of_stay          float64
 14  srch_booking_window          float64
 15  srch_adults_count            float64
 16  srch_children_count          float64
 17  srch_room_count              float64
 18  srch_saturday_night_bool     float64
 19  random_bool                  float64
 20  click_bool                   float64
 21  booking_bool                 float64
dtypes: float64(22)
memory usage: 421.7 MB

In [2]:
training_data = pd.read_csv("./training_data_cleaned.csv")
training_data.head()

,srch_id,site_id,visitor_location_country_id,prop_country_id,prop_id,prop_starrating,prop_brand_bool,prop_location_score1,prop_log_historical_price,position,...,srch_destination_id,srch_length_of_stay,srch_booking_window,srch_adults_count,srch_children_count,srch_room_count,srch_saturday_night_bool,random_bool,click_bool,booking_bool
0,1.0,12.0,187.0,219.0,893.0,3.0,1.0,2.83,4.95,27.0,...,23246.0,1.0,0.0,4.0,0.0,1.0,1.0,1.0,0.0,0.0
1,1.0,12.0,187.0,219.0,10404.0,4.0,1.0,2.20,5.03,26.0,...,23246.0,1.0,0.0,4.0,0.0,1.0,1.0,1.0,0.0,0.0
2,1.0,12.0,187.0,219.0,21315.0,3.0,1.0,2.20,4.92,21.0,...,23246.0,1.0,0.0,4.0,0.0,1.0,1.0,1.0,0.0,0.0
3,1.0,12.0,187.0,219.0,27348.0,2.0,1.0,2.83,4.39,34.0,...,23246.0,1.0,0.0,4.0,0.0,1.0,1.0,1.0,0.0,0.0
4,1.0,12.0,187.0,219.0,29604.0,4.0,1.0,2.64,4.93,4.0,...,23246.0,1.0,0.0,4.0,0.0,1.0,1.0,1.0,0.0,0.0

In [6]:
#training_data = training_data.to_numpy()
training_data.dtype

dtype('float64')

In [9]:
np.isnan(training_data).sum()

0

In [4]:
# Change the config when creating the report --------- minimal=True?
profile = pandas_profiling.ProfileReport(training_data, title="Pandas Profiling Report")#, minimal=True)

 # Change the config after
#profile.config.html.minify_html = False
profile.to_file("report_output.html")

HBox(children=(HTML(value='Summarize dataset'), FloatProgress(value=0.0, max=35.0), HTML(value='')))

HBox(children=(HTML(value='Generate report structure'), FloatProgress(value=0.0, max=1.0), HTML(value='')))

HBox(children=(HTML(value='Render HTML'), FloatProgress(value=0.0, max=1.0), HTML(value='')))

HBox(children=(HTML(value='Export report to file'), FloatProgress(value=0.0, max=1.0), HTML(value='')))